/* header */
.logo-img {
  width: 180px !important;
}

.navbar-container {
  padding: 1.3rem 0;
  height: 70px;
}

.logo-a {
  font-size: 1.2rem;
}
.home-ic {
  margin-right: 0.5rem;
}

/* hero */
.hero-section {
  width: 100vw;
  /* height: 150vh; */
  /* max-height: 1080px;
  min-height: 810px; */
  padding-top: 0px;
  padding-bottom: 0;
  position: relative;
}

.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* filter: opacity(20%); */
}

/* typewrite */
.typewrite-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.hero-info-container .typewrite-text {
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 3rem 0;
  cursor: pointer;
}

.hero-cta-container {
  display: flex;
  justify-content: center;
}

.hero-info-container {
  width: auto;
}

.hero-button {
  margin-top: 1rem;
}

.hero-container {
  position: relative;
}

.hero-info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-logo {
  width: 1500px !important;
}

/* Cursor Styling */

.typewrite-cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
h1.typewrite-cursor::after {
  height: 24px;
  width: 13px;
}
p.typewrite-cursor::after {
  height: 13px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* company logos */
.company-logos {
  padding: 0px !important;
}
.amazon-logo {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.tab-logo {
  width: 180px;
}

.alibaba-logo {
  height: 75px;
}

.tiktok-logo {
  height: 70px;
}

.opague-circle {
  width: 70%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  filter: blur(50px);
  /* box-shadow: 20px 20px 21px 3px #000000; */

  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}

/* movie poster */
.video-container {
  height: 700px;
  width: 100%;
  position: relative;
}

.video-container::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/assets/poster.jpg');
  width: 90%;
  height: 100%;
  top: 0;
}

.video-container h1 {
  color: white;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}
