/* header */
.logo-img {
  width: 300px !important;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  height: auto;
}

/* hero */
.hero-section {
  width: 100vw;
  height: 100vh;

  max-height: 1080px;
  min-height: 810px;
  padding-top: 0px;
  padding-bottom: 0;
  position: relative;
}

.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: opacity(20%);
  /* transform: translateX(10%) translateY(40%); */
}
.hero-wrapper {
  padding-top: 0px;
  padding-left: 6rem;
  width: 100% !important;
}
