/* header */
.logo-img {
  width: 180px !important;
}

.navbar-container {
  padding: 1.3rem 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-a {
  font-size: 1.2rem;
}
.home-ic {
  margin-right: 0.5rem;
}

/* hero */
.hero-section {
  width: 100vw;
  height: 150vh;
  max-height: 1080px;
  min-height: 810px;
  padding-top: 0px;
  padding-bottom: 0;
  position: relative;
}

.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* filter: opacity(20%); */
}

/* typewrite */
.typewrite-heading {
  line-height: 2.5;
  font-weight: lighter;
}

.typewrite-heading a {
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 3rem;
}
.hero-info-container {
  width: auto;
}

.hero-button {
  margin-top: 1rem;
}

.hero-container {
  margin: 7rem 0 0 55rem;
}

/* company logos */
.amazon-logo {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.tab-logo {
  width: 150px;
}

.alibaba-logo {
  height: 60px;
}

.tab-container {
  padding-top: 92px;
}
